.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	width: rem(207);
	height: rem(37);

	background-image: linear-gradient(180deg, #f99902 0%, #ffd717 20.31%, #ffdc1d 54.69%, #a83800 100%);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 23px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(3px);
	}

	p {
		font-style: italic;
		font-weight: 900;
		font-size: 24px;
		@include adaptiveValue("font-size", 24, 20, 800, 550, 1);
		line-height: math.div(29, 24);
		color: #a83800;
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	background-image: url("@img/other/bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	transition: all 0.3s ease 0s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(20);
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		z-index: 3;

		width: rem(277);
		height: rem(70);
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 3;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	padding-block: rem(25) rem(90);
	padding-inline: rem(50);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		@include adaptiveValue("font-size", 32, 26, 500, 320, 1);
		line-height: math.div(49, 32);

		letter-spacing: 0.085em;
		text-transform: uppercase;
		text-align: center;

		color: #ffffff;
		padding-bottom: rem(40);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-style: normal;
	font-weight: 400;
	@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
	line-height: 107.02%;
	text-align: center;

	color: #ffffff;

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	width: rem(136);
	height: rem(31);
	background-color: #0f0f0f;
	border: 1px solid #7b7b7b;
	border-radius: 30px;
}

.text-game {
	p {
		@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
		line-height: math.div(24, 20);
		letter-spacing: 0.05em;

		background-image: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		filter: drop-shadow(0px 4px 10px rgba(250, 255, 0, 0.62));
	}
}

//========================================================================================================================================================
