//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		z-index: 3;
		display: grid;
		grid-template-rows: 35px 1fr;
		row-gap: rem(15);

		min-height: 100vh;
		@include adaptiveValue("padding-top", 40, 10, 800, 550, 1);
		@include adaptiveValue("padding-inline", 60, 10, 800, 550, 1);
	}

	&__cards {
		display: flex;
		justify-content: center;
		@include adaptiveValue("column-gap", 30, 10, 800, 550, 1);
		@media (min-height: em(500)) {
			align-items: center;
		}
	}

	&__card-box {
	}

	&__card {
		position: relative;
		@include adaptiveValue("max-width", 208, 160, 800, 550, 1);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		img {
			width: 100%;
		}
		._disabled & {
			pointer-events: none;
		}
	}

	&__image {
		position: relative;
		overflow: hidden;
		border-radius: 30px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		._disabled & {
			&::before {
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	&__button {
		position: absolute;
		bottom: rem(10);
		left: 50%;
		transform: translateX(-50%);
		&_1 {
			bottom: 0;
		}
		&:active {
			transform: translateY(3px) translateX(-50%);
		}
	}

	// .main__header

	&__header {
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-style: italic;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		color: #ffffff;
	}
}

.header {
	// .header__body

	&__body {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 20, 8, 800, 550, 1);
		@include adaptiveValue("padding-inline", 20, 10, 800, 550, 1);
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__privacy-box

	&__privacy-box {
	}

	// .header__privacy

	&__privacy {
		white-space: nowrap;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		p {
			position: relative;
			z-index: 10;
		}
	}

	&__button-box {
	}

	&__btn-home {
		display: block;
		width: rem(43);
		height: rem(43);
		background-image: url("@img/icons/btn-home.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	// .header__score

	&__score {
	}
}

.title-game {
	font-weight: 900;
	font-size: rem(36);
	line-height: math.div(44, 36);
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	span {
		&:first-child {
			background-image: linear-gradient(180deg, #3300ff 0%, #644dc2 100%);
		}
		&:last-child {
			background-image: linear-gradient(180deg, #0077ff 0%, #00c2ff 100%);
		}
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1.2px #fff;
		filter: drop-shadow(-1px 4px 4px #953005);
	}
}

.score-box {
	// .score-box__body

	&__body {
		position: relative;
		display: grid;
		grid-template-columns: 35px 1fr;
		align-items: center;
		min-height: 100%;
	}

	// .score-box__icon

	&__icon {
		justify-self: center;
		@include adaptiveValue("max-width", 27, 17, 800, 550, 1);
		img {
			width: 100%;
		}
	}

	// .score-box__score

	&__score-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__score {
	}
}
.text {
	font-style: italic;
	font-weight: 500;
	@include adaptiveValue("font-size", 16, 14, 800, 550, 1);
	line-height: math.div(19, 16);

	color: #ffffff;
	&._txt-small {
		font-size: rem(8);
	}
	&._txt-middle {
		font-size: rem(12);
	}
}

//========================================================================================================================================================
.slot {
	// .slot__body

	&__body {
		position: relative;
		min-height: 100vh;
	}

	&__button-home {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 35px;
		height: 23px;
		z-index: 10;

		background-image: url("@img/icons/arrow.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: transform 0.3s ease 0s;
		&:active {
			transform: translateY(2px);
		}
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-direction: column;
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: grid;
		grid-template-rows: 1fr rem(100);
		row-gap: rem(20);
		z-index: 2;
		&_2 {
			grid-template-rows: 1fr rem(50);
		}
	}

	// .slot__controls

	&__controls {
	}

	&__cheeps-box {
	}

	&__background {
		position: absolute;
		top: 0px;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		img {
			width: 100%;
		}
	}
}

.controls-slot {
	position: relative;
	display: flex;
	align-items: flex-end;

	// .controls-slot__body

	&__body {
		position: fixed;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		column-gap: rem(20);
		width: 100%;

		padding-inline: rem(30);
		padding-bottom: rem(10);
	}

	// .controls-slot__bet-box

	&__bet-box {
	}

	&__button-box {
		display: flex;
		justify-content: center;
		&_1 {
			position: absolute;
			bottom: 0;
			right: 15px;
		}
	}

	// .controls-slot__button-spin

	&__button-spin {
		position: relative;
		background-image: linear-gradient(180deg, #f99902 0%, #ffd717 20.31%, #ffdc1d 54.69%, #a83800 100%);
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 23px;
		&_1 {
			width: rem(99);
			height: rem(70);
		}
		p {
			font-style: italic;
			font-weight: 900;
			font-size: rem(24);
			line-height: math.div(29, 24);
			text-transform: uppercase;

			color: #a83800;
		}

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: scale(0.97);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.win-box {
	overflow: hidden;
	// .win-box__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100%;

		opacity: 0;
		visibility: hidden;
		top: 20px;

		transition: all 0.5s ease 0s;
		&._visible {
			opacity: 1;
			visibility: visible;
			top: 0;
		}
	}
}

//========================================================================================================================================================
#slot2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#reels2 {
	position: relative;
	display: flex;
	justify-content: center;
	column-gap: 10px;
	width: 62vw;
	height: calc((3 / 5) * 100vw);
	max-height: 33vw;
	max-width: calc(2.2 * (90vh - 50px));
	padding-inline: 40px;
	padding-top: 25px;
	@media (max-width: em(650)) {
		padding-inline: 30px;
	}

	@media (min-width: em(900)) and (min-height: em(700)) {
		padding-inline: 60px;
		padding-top: 35px;
	}
}

.reel2 {
	position: relative;
	overflow: hidden;
	width: 33%;
	height: 100%;

	.icons {
		text-align: center;
		padding-top: rem(5);
		img {
			width: calc(100% - 5px);
			margin: -3px 0 15px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot2.inverted .reel {
	transform: scaleY(-1);
}

#slot2.inverted .reel > .icons > img {
	transform: scaleY(-1);
}

//========================================================================================================================================================
#slot1 {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#reels1 {
	position: relative;
	display: flex;
	justify-content: center;
	width: 60vw;
	height: calc((3 / 3) * 100vw);
	max-height: 20vw;
	max-width: calc(2.2 * (90vh - 50px));
}
.reels1 {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 120%;
		height: 110%;
		z-index: 3;
		background: radial-gradient(50% 50% at 50% 50%, #54007b 0%, #1f0030 100%);
		border-radius: 13px;
	}
}

.reel1 {
	position: relative;
	overflow: hidden;
	z-index: 5;
	width: 33%;
	height: 100%;

	.icons {
		text-align: center;
		padding-top: rem(10);

		img {
			position: relative;
			width: calc(100% - 5px);
			margin: -3px 0 20px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot1.inverted .reel {
	transform: scaleY(-1);
}

#slot1.inverted .reel > .icons > img {
	transform: scaleY(-1);
}
//====================================================================================================
@keyframes no-money {
	100% {
		color: #ff5900;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		color: #ff6f00;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: #ddf12a;
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}
